---
import "../styles/css/portfolio.css";
import BasePage from "../components/BasePage.astro";
---

<BasePage>
  <main id="main">
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-712">
      <div class="cs-container">
        <span class="cs-int-title">Portfolio</span>
      </div>
      <!--Background Image-->
      <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)"
          srcset="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562593/tools_llyyqr.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)"
          srcset="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562593/tools_llyyqr.jpg">
        <img loading="lazy" decoding="async"
          src="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562593/tools_llyyqr.jpg" alt="pills" width="1280"
          height="568" aria-hidden="true">
      </picture>
    </div>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery-48">
      <div class="cs-container">
        <div class="cs-content">
          <span class="cs-topper">Our Portfolio</span>
          <h2 class="cs-title">Finished Work</h2>
        </div>
        <div class="cs-image-group">
          <div class="cs-row cs-row-1">
            <!-- Row 1-->
            <picture class="cs-picture cs-picture-1">
              <source media="(max-width: 600px)"
                srcset="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562585/example1_z5vbd5.jpg">
              <source media="(min-width: 601px)"
                srcset="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562585/example1_z5vbd5.jpg">
              <img loading="lazy" decoding="async"
                src="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562585/example1_z5vbd5.jpg"
                alt="fixture with four hanging lanterns" width="420" height="567">
            </picture>
            <picture class="cs-picture cs-picture-2">
              <source media="(max-width: 600px)"
                srcset="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562593/example2_ejeez0.jpg">
              <source media="(min-width: 601px)"
                srcset="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562593/example2_ejeez0.jpg">
              <img loading="lazy" decoding="async"
                src="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562593/example2_ejeez0.jpg"
                alt="two lamps with circular glass bodies" width="420" height="630">
            </picture>
            <picture class="cs-picture cs-picture-3">
              <source media="(max-width: 600px)"
                srcset="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562589/example3_cuujmv.jpg">
              <source media="(min-width: 601px)"
                srcset="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562589/example3_cuujmv.jpg">
              <img loading="lazy" decoding="async"
                src="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562589/example3_cuujmv.jpg"
                alt="tripod base supporting shaded lamp" width="420" height="512">
            </picture>
            <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
          </div>
          <!-- Row 2 -->
          <div class="cs-row cs-row-2">
            <picture class="cs-picture cs-picture-1">
              <source media="(max-width: 600px)"
                srcset="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562587/example4_fuontw.jpg">
              <source media="(min-width: 601px)"
                srcset="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562587/example4_fuontw.jpg">
              <img loading="lazy" decoding="async"
                src="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562587/example4_fuontw.jpg"
                alt="ornate table top lamp with metalwork decorations" width="420" height="492">
            </picture>
            <picture class="cs-picture cs-picture-2">
              <source media="(max-width: 600px)"
                srcset="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562589/example5_f8zjtk.jpg">
              <source media="(min-width: 601px)"
                srcset="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562589/example5_f8zjtk.jpg">
              <img loading="lazy" decoding="async"
                src="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562589/example5_f8zjtk.jpg"
                alt="antique handlamp with metalic housing" width="420" height="517">
            </picture>
            <picture class="cs-picture cs-picture-3">
              <source media="(max-width: 600px)"
                srcset="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562590/example6_ugsmhr.jpg">
              <source media="(min-width: 601px)"
                srcset="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562590/example6_ugsmhr.jpg">
              <img loading="lazy" decoding="async"
                src="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562590/example6_ugsmhr.jpg"
                alt="six post hanging lamp with gold body" width="420" height="629">
            </picture>
            <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
          </div>
          <!-- Row 3 -->
          <div class="cs-row cs-row-3">
            <picture class="cs-picture cs-picture-1">
              <source media="(max-width: 600px)"
                srcset="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562591/example7_qh5ynh.jpg">
              <source media="(min-width: 601px)"
                srcset="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562591/example7_qh5ynh.jpg">
              <img loading="lazy" decoding="async"
                src="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562591/example7_qh5ynh.jpg"
                alt="two tier chandelier with hanging crystals" width="420" height="625">
            </picture>
            <picture class="cs-picture cs-picture-2">
              <source media="(max-width: 600px)"
                srcset="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562590/example8_o5buef.jpg">
              <source media="(min-width: 601px)"
                srcset="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562590/example8_o5buef.jpg">
              <img loading="lazy" decoding="async"
                src="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562590/example8_o5buef.jpg"
                alt="candelabra style table top lamp" width="420" height="452">
            </picture>
            <picture class="cs-picture cs-picture-3">
              <source media="(max-width: 600px)"
                srcset="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562591/example9_jrzylc.jpg">
              <source media="(min-width: 601px)"
                srcset="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562591/example9_jrzylc.jpg">
              <img loading="lazy" decoding="async"
                src="https://res.cloudinary.com/ddkf3royq/image/upload/v1730562591/example9_jrzylc.jpg"
                alt="unfinished antique metalic and ivory lamp base with metalic legs" width="420" height="629">
            </picture>
            <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
          </div>
        </div>
      </div>
    </section>
  </main>
</BasePage>