---
import { Image } from "astro:assets";
import Example6Image from "../assets/images/example6.jpeg"
import "../styles/css/reviews.css";
import BasePage from "../components/BasePage.astro";
import ReviewQuote from "../components/ReviewQuote.astro";
---

<BasePage>
  <main id="main">
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-712">
      <div class="cs-container">
        <span class="cs-int-title">Reviews</span>
      </div>
      <!--Background Image-->
      <picture class="cs-background">
        <Image class = "cs-background" src={Example6Image} alt="pills" width="1280" height="568" decoding="async" loading="lazy" aria-hidden="true" />
      </picture>
    </div>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-607">
      <div class="cs-container">
        <div class="cs-content">
          <span class="cs-topper"></span>
          <h2 class="cs-title">Satisfied Customers</h2>
          <p class="cs-text">
            These are a small sample of the reviews I've received over the years
          </p>
        </div>
        <ul class="cs-card-group">
          <ReviewQuote quoteTitle="Recommend Highly!" name="Nancy P">
              Tom did a great job on a lighted counter clock. There was a fluorescent fixture inside that had pretty
              much
              disintegrated. After searching for somone to help with the repair, I found the Lamp Shack. Presto! Chango!
              Magic!
              Totally renewed and now fully functional. The work was done quickly, and the price was right. Recommend
              highly!
          </ReviewQuote>
          <ReviewQuote quoteTitle="TLC" name="Mike G">
            I have a 50 year old lamp that has a lot of sentimental value. I was using it every night on a timer, but I
            was getting concerned about safety. The lamp needed some TLC.

            Tom, at the Lamp Shack, did a GREAT job restoring the lamp and the electric components to an as new
            condition. If you
            need a lamp repaired see Tom he will do a great job for you also.
          </ReviewQuote>
          <ReviewQuote quoteTitle="Can't Say Enough Good Stuff" name="Stefan K">
              Tom at the Lamp Shack is amazing. Brought him a rusted, broken, sad lamp that had sentimental value and he
              turned it
              into a museum piece. He saw opportunity where others wouldn’t even look. An absolutely beautiful job. And
              he’s a great
              guy. I can’t say enough good stuff...
          </ReviewQuote>
          <ReviewQuote quoteTitle="Quick Fix with a Smile" name="Teresa B">
              Our pandemic puppy chewed through our lamp power cord and Tom was able to offer a quick fix with a smile
              and a great
              price. We’ll be sure to check back in with the Lamp Shack the next time we need a repair.
          </ReviewQuote>
          <ReviewQuote quoteTitle="Will 100% Use Him Again" name="Sherry R">
              Tom went above and beyond to repair a Vintage Christmas Tree Stand I had. He said it would be about two
              weeks, but did
              it in two days because he knew I would want to use it for the holidays. Can’t say enough good things about
              his work.
              Will 100% use him again.
          </ReviewQuote>
          <ReviewQuote quoteTitle="Professional and Knowledgeable" name="Dee D">
              Tom did a great job fixing the switch on my artemide tolomeo lamp...he had to order the switch...his
              charge was very reasonable and he even helped clean the shade the movers had dirtied...he is professional
              and knowledgeable...I recommend him highly.
          </ReviewQuote>
        </ul>
      </div>
    </section>

    <!-- ============================================ -->
    <!--                     CTA                      -->
    <!-- ============================================ -->

    <!--        <section id="cta-51">
            <div class="cs-container">
                <div class="cs-content">
                    <span class="cs-topper">Contact Us</span>
                    <h2 class="cs-title">Get It Done With Us Today</h2>
                    <p class="cs-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis at sit pellentesque molestie.  Diam, adipiscing ultrices eu turpis gravida.
                    </p>
                    <a href="" class="cs-button-solid">Gret A Free Quote</a>
                </div>
            </div>
            <!~~ Background Image~~>
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/cabinets-m.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/cabinets.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/CTA/cabinets.jpg" alt="cabinets" width="1920" height="1280" aria-hidden="true">
            </picture>
        </section>                                          -->
  </main>
</BasePage>