---
import { ClientRouter, fade } from "astro:transitions";
import "../styles/css/core-styles.css";
import "../styles/css/dark.css";

import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">

  <head>
    <ClientRouter />
    <!-- Google tag (gtag.js) -->
    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-EB6NHTX4M3"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'G-EB6NHTX4M3');

      (function (c, l, a, r, i, t, y) {
        c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
        t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "sgv2ltdbah");
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Swap our for actual link-->
    <link rel="canonical" href="https://www.thelampshack.com/">

    <meta name="description"
      content="Experienced lamp and lighting repair service offering personalized and meticulous restoration. Open M-F 10-4pm.">
    <meta name="keywords" content="lamp ">

    <!--Social Media Display-->
    <meta property="og:title" content="Lamp Shack | Waterford, MI" />
    <meta property="og:description"
      content="Experienced lamp and lighting repair service offering personalized and meticulous restoration. Open M-F 10-4pm." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.thelampshack.com/" />
    <meta property="og:image" content="/assets/images/LampShackLogo.svg" />
    <meta property="og:image:secure_url"
      content="/assets/images/LampShackLogo.svg" />

    <!--Favicons-->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png"> -->
    <link rel="icon" type="image/svg" href="LampWhite.svg">
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png"> -->
    <!-- <link rel="manifest" href="/assets/favicons/site.webmanifest"> -->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff"> 

    <!-- Preload -->
    <!-- <link rel="preload" as="image" href="assets/images/logo-light.png">
    <link rel="preload" as="font" type="font/woff2" href="/fonts/roboto-v29-latin-regular.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="/fonts/roboto-v29-latin-700.woff2" crossorigin>

    <link rel="stylesheet" href="/css/core-styles.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/dark.css"> -->

    <title>Lamp Shack | Waterford, MI</title>
  </head>

  <body class="cs-open" transition:animate="fade">
    <!--Screen reader skip main nav-->
    <a class="skip" aria-label="skip to main content" href="#main">Click To Skip To Main Content</a>
    <NavBar />
    <slot />
    <Footer />
  </body>

</html>