---
import WhiteLogo from "../assets/images/WhiteLampShackLogo.svg"
import { Image } from "astro:assets"
---

<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-269">
<div class="cs-container">
  <!-- Logo Group -->
  <div class="cs-logo-group">
    <a aria-label="go back to home" class="cs-logo" href="/">
      <Image class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async"
        src={WhiteLogo} alt="logo" width="240" height="32">
    </a>
    <p class="cs-text">
      Lamp repair service offering personalized and meticulous restoration for a diverse range of lamps.
      Experienced diagnosis and repair of electrical issues, component refurbishment, and aesthetics improvement.
    </p>
  </div>
  <!-- Links -->
  <ul class="cs-nav">
    <li class="cs-nav-li">
      <span class="cs-header">Sitemap</span>
    </li>
    <li class="cs-nav-li">
      <a class="cs-nav-link" href="/">Home</a>
    </li>
    <li class="cs-nav-li">
      <a class="cs-nav-link" href="/portfolio.html">Portfolio</a>
    </li>
    <li class="cs-nav-li">
      <a class="cs-nav-link" href="/reviews.html">Reviews</a>
    </li>
    <li class="cs-nav-li">
      <a class="cs-nav-link" href="/contact.html">Contact</a>
    </li>
  </ul>
</div>
</footer>
